<div class="container">
    <div class="row">
        <!-- About -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Profilbild-dummy.png" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ad ipsam non iusto recusandae! Repellendus cupiditate est quia doloribus dolorem aperiam, explicabo quaerat? Laudantium, explicabo. Itaque, voluptates delectus sunt amet reprehenderit aperiam doloremque. Accusantium, aliquid, magni obcaecati architecto itaque assumenda a blanditiis ducimus ab totam eligendi omnis! Amet, earum odio.</p>
            </div>
        </div>
        <!-- Feature -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featureProject.name}}</h4>
            </div>
        </div>
    </div>
</div>
